<i class="fa fa-truck" aria-hidden="true"></i>

{{ 'general.discount.project' | t: money:'11999' , discount_money:'500' }}
<b><red>in1</red></b>
<br>

{{ 'general.discount.project' | t: money:'14999' , discount_money:'1200' }}
<b><red>in2</red></b> 
<br>

{{ 'general.discount.project' | t: money:'18999' , discount_money:'2000' }}
<b><red>in3</red></b>
<br>

{{ 'general.discount.info' | t }}

<span class="postage-price"> 
  <br> 
  <b>{{ 'general.discount.freight_info' | t: money:'9,999' }}</b> 
</span>